:root { 
	--blue: #0257AE;
    --red: #DA251C;
	--orange: #F6B801;
	--green: #4CB034;
	--serif: 'Source Serif 4', serif;
	--roboto: 'Roboto', sans-serif;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--serif);
}

h1, h2, h3, li {
    font-family: var(--roboto);
}

main ul li {
	font-family: var(--serif);
}

a {text-decoration: none;}

h1 {
	font-size: 2rem;
}

/*-----HEADER-----*/

header, footer {
	align-items: center;
	justify-content: center;
	padding: 20px;
}

header {
	background: rgba(255, 255, 255, 0.85);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
header .container {
	display: grid;
	grid-template-columns: fit-content(100px) 1fr;
	margin: 0 auto;
    max-width: 705px;
}

header img {width: 100px; height: 147px; }

header h1 {text-align: left; margin-left: 1rem;}

header span {grid-column: span 2; text-align: right;}

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
}

/*-----NAV-----*/

nav {
	background-color: var(--blue);
	margin: 0 auto;
    max-width: 800px;
}

nav ul {
	list-style-type: none;
    max-width: 800px;
    margin: 0 auto;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	border: 1px solid var(--blue);
}

nav a:hover {
	border: 1px solid #fff;
}

.active {
	color: var(--orange);
}


/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 1px solid var(--blue);
	padding: 3px 7px 6px;
	background-color: var(--blue);
	color: #fff;
	position: relative;
	top: 0.5rem;
	right: -0.5rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: var(--blue);
	color: #fff;
}
.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation li a:hover {
	background-color: var(--orange);
	color: #000;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

.active::before {
	content: "*";
	color: white;
	margin-top: 1px;
	margin-right: 3px;
}

.active:hover:before {
	content: "*";
	color: black;
}


.stuff {
	margin: .5em;
	border: 1px solid rgba(0,0,0,.1);
	background-color: var(--orange);
	max-width: 580px;
	height: 100vh;
	
}

/*-----MAIN-----*/

main {
	max-width: 800px;
	margin: 0 auto;
}

main div#hero {
	background-image: url("../images/pmkik.webp");
	background-color: var(--blue);
	height: 180px;
	display: grid;
	align-items: center;
	justify-content: center;
	border: solid 1px var(--blue);
	border-radius: 1em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main div#hero.join {
	background-image: url("../images/thanks.webp");
}

main div#hero.thanks {
	background-image: url("../images/thanks.webp");
}

main div#hero h2, main div#hero a, main div#hero p {
	color: white;
	text-align: center;
}

main div#hero a:hover {
    color: var(--red);
}

div#css-grid {
    display: grid;
    grid-template-columns: 1fr;
	gap: 10px;
}

/*-----LEFT COLUMN-----*/

.left-section h2 {
	margin: 10px;
}

.left-section iframe {
	border-width: 0;
	overflow: hidden;
}

/*-----RIGHT COLUMN-----*/

div.right-pic {
	padding: 10px;
}

div.right-pic img {border-radius: 10px; width: 100%; height: auto; max-width: 600px}

div.right-pic-caption p {text-align: center;}

/*-----SECTION-----*/

section.card {
    border: 1px solid var(--blue);
    border-radius: 1em;
    max-width: 600px;
    margin: 10px;
}

section.card h3 {
    background-color: var(--blue);
    color: white;
    padding: 10px;
    text-align: center;
	border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

section.card#current h3 {
	background-color: var(--orange);
	color: black;
}

section.card#spotlight {
	grid-column: span 2;	
}

section.card#spotlight h3 {
	background-color: var(--green);
	color: black;
}

section.card#spotlight img {
	width: 100%;	
	display: block;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

section.card#weather h3 {
	background-color: var(--red);
}

section.card ul {
    list-style-type: none;
    padding: 10px;
}

section.card p {
    list-style-type: none;
    padding: 10px;
}

/*----------- FORM --------------*/
div#formmessage {
    color: var(--red);
    font-size: .8rem;
    text-align: center;
}

form {
    accent-color: var(--blue);
}

form fieldset {
    margin: 2rem;
    border: 1px solid var(--blue);
    border-radius: 1rem;
    max-width: 21.5rem;
	position: relative;
}

form legend {
	font-family: var(--roboto);
	position: absolute;
	top: 1.25rem;
	margin: -0.5rem;
    text-align: center;
	width: 100%;
}

form label, form div {
	font-family: var(--serif);
    display: block;
    padding-top: 1rem;
    color: var(--blue);
}

form label:first-of-type {
	margin-top: 1.75rem;
}

form fieldset.applicant {
	background: linear-gradient(to bottom,  #F6B801, #F6B801 2.5rem, transparent 2.5rem, transparent 100%);	
}

form label, form div {
    display: block;
    padding-top: 1rem;
    color: var(--blue);
}

form label.applicant input, form label.applicant select, form label.applicant textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: 1px solid #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background: rgba(255, 255, 255, 0.85);
}

form input#rating {
    -webkit-appearance: auto;
    padding: 0;
}

form label.applicant:required {
    border-left: 6px solid var(--red);
}

form label.applicant:required:valid {
    border-left: 6px solid var(--gren);
}

form label.radio {
    color: black;
}

form fieldset.membership {
	background: linear-gradient(to bottom,  #4CB034, #4CB034 2.5rem, transparent 2.5rem, transparent 100%);
}

form input.submitBtn {
    border: 1px solid var(--red);
    border-radius: 1rem;
    background-color: var(--red);
    color: white;
    padding: .75rem;
    margin: 0 0 2rem 2%;
    max-width: 20rem;
}

form input.submitBtn:hover {
    color: var(--red);
    background-color: white;
}

#right-column table {
	border: 1px solid var(--blue);
	border-radius: 1rem;
	border-collapse: separate;
	border-spacing: 0;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	height: 215px;
}

#right-column table thead tr:first-child td {
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
  }

#right-column table tbody tr:last-child td:first-child {
	border-bottom-left-radius: 1rem;
}
  
#right-column table tbody tr:last-child td:last-child {
	border-bottom-right-radius: 1rem;
}

#right-column td {
	padding: 5px;
	text-align: center;
}

#right-column thead {
	background-color: var(--blue);
	color: white;
}

#right-column thead tr:last-child td:not(:first-child) {
	background-color: var(--orange);
	border-left: 1px solid var(--blue);
	color: black;
}

#right-column tbody td {
	font-family: var(--roboto);
}

#right-column tbody td:last-child {
	border-right: var(--blue);
}

#right-column tbody tr:last-child td {
	border-bottom: var(--blue);
}

tbody tr:nth-child(even) {
background-color: #ccc;
}

thead {
	background-color: var(--blue);
	color: white;
}


/* DIRECTORY */

.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: var(--orange);
	text-align: center;
}

.menu button {
	padding: 1rem;
	font-weight: 700;
}

section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #eee;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
}

.grid section {
	text-align: center;
}

.grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
}

.grid section > * {
	margin: 0.1rem;
}

.grid h3 {
	font-family: var(--serif);
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
	background-color: var(--orange);
}

section h3 {
	font-size: 1.5rem;
}

section p {
	font-weight: 600;
	font-size: smaller;
}

section a {
	font-family: var(--roboto);
	font-size: 0.85rem;
	color: var(--blue);;
	letter-spacing: 1.1pt;
}

/* FOOTER */

footer {
	background-color: var(--orange);
	color: black;
}

footer .container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 0 auto;
    max-width: 705px;
	grid-gap: 1rem;
}

footer #info ul {
	list-style-type: none;
}

footer #disclaimer {
	text-align: center;
	margin: auto 0;
}

footer #info, footer #disclaimer, footer #copyright, footer #last-modified {
	grid-column: span 2;
}

