
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Source Serif 4', serif;
}

h1, h2, h3, li {
    font-family: 'Roboto', sans-serif;
}

main ul li {
	font-family: 'Source Serif 4', serif;
}

a {text-decoration: none;}

h1 {
	font-size: 2rem;
}

header, footer {
	align-items: center;
	justify-content: center;
	padding: 20px;
}

header {
	background: rgba(255, 255, 255, 0.85);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
header .container {
	display: grid;
	grid-template-columns: fit-content(100px) 1fr;
	margin: 0 auto;
    max-width: 705px;
}

header img {width: 100px; height: 147px; }

header h1 {text-align: left; margin-left: 1rem;}

header span {grid-column: span 2; text-align: right;}

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
}

nav {
	background-color: #025DAE;
	margin: 0 auto;
    max-width: 800px;
}

nav ul {
	list-style-type: none;
    max-width: 800px;
    margin: 0 auto;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	border: 1px solid #025DAE;
}

nav a:hover {
	border: 1px solid #fff;
}

.active {
	color: #F6B801;
}


/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 1px solid #025DAE;
	padding: 3px 7px 6px;
	background-color: #025DAE;
	color: #fff;
	position: relative;
	top: 0.5rem;
	right: -0.5rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #025DAE;
	color: #fff;
}
.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation li a:hover {
	background-color: #F6B801;
	color: #000;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

.active::before {
	content: "*";
	color: #fff;
	margin-top: 1px;
	margin-right: 3px;
}

.active:hover:before {
	content: "*";
	color: #000;
}


.stuff {
	margin: .5m;
	border: 1px solid rgba(0,0,0,.1);
	background-color: #F6B801;
	max-width: 580px;
	height: 100vh;
	
}

/* main */

main h2 {
    margin-top: 10px;
    
}

main {
	max-width: 800px;
	margin: 0 auto;
}

main div#hero {
	background-image: url("../images/pmkik.webp");
	background-color: #025DAE;
	height: 180px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: solid 1px #025DAE;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main div#hero h2 {
	color: #fff;
	text-align: center;
}

div#css-grid {
    display: grid;
    grid-template-columns: 1fr;
}

section.card {
    border: 1px solid #025DAE;
    border-radius: 3px;
    max-width: 600px;
    margin: 10px;
}

section.card h3 {
    background-color: #025DAE;
    color: white;
    padding: 10px;
    text-align: center;
}

section.card#current h3 {
	background-color: #DA251C;	
}

section.card#weather h3 {
	background-color: #4CB034;	
}

section.card ul {
    list-style-type: none;
    padding: 10px;
}

section.card p {
    list-style-type: none;
    padding: 10px;
}