/* large view navigation ************************************/
@media (min-width: 640px) {
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}
	
	h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	
	.stuff {
		margin: 1rem auto;
	}
	
    /*header img {width: 200px; height: 294px; float: left;}*/

    nav {max-width: none;}

    nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}

    div#css-grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

	div.right-pic img {width: 800px}

	div.right-pic:hover img {box-shadow: 0 0 30px #0257AE;}

    section.card {
        max-width: none;
        width: 90%;
        margin: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    main div#hero {
        height: 360px;
    }

	div#right-column {
		display: grid;
		grid-template-rows: 659px 1fr;
	}
	#right-column table {
		grid-row-start: 2;
	}

    footer #info, footer #disclaimer {
        grid-column: span 1;
    }
}
/*
@media (min-width: 1008px) {
	div.right-pic img {width: 800px}
}*/
